<settings>
	<mediasources>
		<dir PATH="C:\Users\bmod\Pictures"/>
		<dir PATH="D:\music\Game"/>
		<dir PATH="C:\Users\bmod\Music"/>
		<dir PATH="C:\Backup_Android"/>
		<dir PATH="C:\Backup_SDB1"/>
	</mediasources>
	<filetypes>
		<type EXTENSIONS="flac,m4a,mp3,mp4,mpa,wma" NAME="Music"/>
		<type EXTENSIONS="jpeg,png,tga,tif,tiff" NAME="Picture"/>
		<type EXTENSIONS="pdf,sdc" NAME="Document"/>
		<type EXTENSIONS="otf,pfb,ttf" NAME="Font"/>
	</filetypes>
</settings>
